
<div class="text-center mt-4">
  <div class="font-bold text-900 text-3xl">Vos courses participées</div>
  <div class="text-500">Vous pouvez maintenant consulter les résultats d'une courses</div>
</div>

<div class="card">
<p-table
    #dt2
    [value]="resultats"
    dataKey="id"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    [paginator]="true"
    [loading]="loading"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [tableStyle]="{ 'min-width': '75rem'}"
    [globalFilterFields]="['course.titre','course.adresse.ville.nom','course.adresse1.ville.nom','course.adresse.rue','course.adresse1.rue','course.date','abandon','temps']">
    <ng-template pTemplate="caption">
      <div class="flex flex-wrap">
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Rechercher" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:20%">Titre</th>
            <th style="width:20%">Adresse de départ</th>
            <th style="width:20%">Adresse d'arrivée</th>
            <th style="width:20%">Date</th>
            <th style="width:14%">Résultat</th>
            <th style="width:6%">Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-resultat>
        <tr>
            <td>
              {{ resultat.course.titre }}
            </td>
            <td>
                {{ resultat.course.adresse.rue }},
                {{ resultat.course.adresse.ville.code_postale }}
                {{ resultat.course.adresse.ville.nom }}
            </td>
            <td>
              {{ resultat.course.adresse1.rue }},
              {{ resultat.course.adresse1.ville.code_postale }}
              {{ resultat.course.adresse1.ville.nom }}
            </td>
            <td>
              {{ resultat.course.date | date:'dd/MM/yyyy'}}
            </td>
            <td>
              <div *ngIf="resultat.temps!=null then temps else abandon"></div>
              <ng-template #temps>
                {{resultat.temps}}
              </ng-template>
              <ng-template #abandon>
                {{resultat.abandon}}
              </ng-template>
            </td>
            <td>
               <button pButton pRipple type="button" [icon]="'pi pi-eye'" class="p-button-sm p-button-text p-button-secondary" (click)="getResultats(resultat.course.id)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">Aucune course trouvées</td>
        </tr>
    </ng-template>
</p-table>
</div>


<!-- Popup affichage résultat -->
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div class="flex flex-wrap">
    <div *ngIf="courseEffectuee==true then ok else notOk"></div>
    <ng-template #ok>
      <div>
        <button pButton pRipple icon="pi pi-flag" class="p-button-sm" label="Liste Abandon" (click)="getResultatsArret(this.identifiant)"></button>
      </div>
    </ng-template>
    <ng-template #notOk>
      <button pButton pRipple icon="pi pi-arrow-left" class="p-button-danger p-button-outlined" (click)="getResultats(this.identifiant)"></button>
      <h5 class="m-2 text-xl">Liste résultats</h5>
    </ng-template>
    <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Rechercher" />
    </span>
  </div>
  <p-table #dt1 [value]="resultatsCourse" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}" [globalFilterFields]="['position','Nom','Prenom','temps', 'abandon']">

    <ng-template pTemplate="header" >
      <div *ngIf="courseEffectuee==true then ok else notOk"></div>
      <ng-template #ok>
        <tr>
            <th>Position</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Temps</th>
        </tr>
      </ng-template>
      <ng-template #notOk>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Temps</th>
        </tr>
      </ng-template>
    </ng-template>

    <ng-template pTemplate="body" let-resultat>
      <div *ngIf="courseEffectuee==true then ok else notOk"></div>
      <ng-template #ok>
        <tr>
        <td></td>
        <td>{{resultat.utilisateur.nom}}</td>
        <td>{{resultat.utilisateur.prenom}}</td>
        <td>{{resultat.temps}}</td>
        </tr>
      </ng-template>
      <ng-template #notOk>
        <tr>
          <td>{{resultat.utilisateur.nom}}</td>
          <td>{{resultat.utilisateur.prenom}}</td>
          <td>{{resultat.abandon}}</td>
        </tr>
      </ng-template>
    </ng-template>

  </p-table>
</p-dialog>


