<div class="text-center mt-4">
    <div class="font-bold text-900 text-3xl">Listes des courses supprimées</div>
</div>
<br>
<div class="card">
  <p-table
      #dt2
      [value]="courses"
      dataKey="id"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 15]"
      [paginator]="true"
      [loading]="loading"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [tableStyle]="{ 'min-width': '75rem'}"
      >

      <ng-template pTemplate="header">
          <tr>
              <th style="width:15%">Titre</th>
              <th style="width:20%">Adresse de départ</th>
              <th style="width:20%">Adresse d'arrivée</th>
              <th style="width:20%">Date</th>
              <th style="width:15%">Prix</th>
              <th style="width:15%">Cloturer</th>
          </tr>
          <tr>
              <th>
                <p-columnFilter type="text" field="titre"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="adresse.ville.nom" field="adresse.ville.code_postale" field="adresse.rue" field="adresse.adresse.numero"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="adresse1.ville.nom" field="adresse1.ville.code_postale" field="adresse1.rue" field="adresse1.adresse.numero"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="date"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="prix"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="cloturer"></p-columnFilter>
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-course>
          <tr>
              <td>
                {{ course.titre }}
              </td>
              <td>
                {{ course.adresse.rue }},
                {{ course.adresse.ville.code_postale }}
                {{ course.adresse.ville.nom }}
              </td>
              <td>
                {{ course.adresse1.rue }},
                {{ course.adresse1.ville.code_postale }}
                {{ course.adresse1.ville.nom }}
              </td>
              <td>
                {{ course.date | date:'dd/MM/yyyy'}}
              </td>
              <td>
                {{ course.prix }} €
              </td>
              <td>
                {{ course.cloturer }}
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="5">Aucune course trouvées</td>
          </tr>
      </ng-template>
  </p-table>
</div>
