<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="assets/logo.png" height="40" class="ml-2" />
    </ng-template>
    <ng-template pTemplate="end">
      <div className="card-container">
        <div *ngIf="this.log; then logIn else noLog"></div>
        <ng-template #logIn>
          <div class="flex-1 flex align-items-center justify-content-center">
            <p-avatar icon="pi pi-user" styleClass="mr-1" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
            <div class="mr-4">{{ this.loggedUser.prenom }}</div>
            <button pButton pRipple class="pi pi-fw pi-sign-out w-full p-button-danger" (click)="confirmLogOut()"></button>
          </div>
        </ng-template>
        <ng-template #noLog>
          <div *ngIf="this.btnDisable$ | async; then dis else noDis"></div>
          <ng-template #dis>
            <p-button [disabled]="true" label="Connexion" icon="pi pi-sign-in" size="small" [rounded]="true" (click)="login()"></p-button>
          </ng-template>
          <ng-template #noDis>
            <p-button [disabled]="false" label="Connexion" icon="pi pi-sign-in" size="small" [rounded]="true" (click)="login()"></p-button>
          </ng-template>
        </ng-template>
      </div>
    </ng-template>
</p-menubar>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
