.bienvTxt h1{
  font-size: 50px;
  color: rgb(73, 73, 230);
  margin-bottom: 1%;
}

.bienvTxt p{
  width: 700px;
  text-align: justify;
  font-size: 20px;
}

.image img{
  border-right: 6px rgb(73, 73, 230) solid;
  border-bottom: 6px rgb(73, 73, 230) solid;
  width: 30rem;
  border-radius: 3%;
}

.home{
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 8% 8%;
}
