:host ::ng-deep .p-scrollpanel{
  width: 100%;
  height: 870px;
}

.bienvTxt {
  width: 700px;
  margin: auto;
}

.bienvTxt h1{
  font-size: 50px;
  color: aliceblue;
  margin-bottom: 1%;
}

.bienvTxt p{
  width: 700px;
  text-align: justify;
  color: aliceblue;
  font-size: 20px;
}

.home{
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0,0,0,0.75)),url(../../../assets/homePage.jpg);
  width: 100%;
  padding: 8%;
}

.scroll{
  width: '100%';
  height: '620px';
}

@media screen and (max-width: 1050px) {

  :host ::ng-deep .p-scrollpanel{
    width: 100%;
    height: 760px;
  }

  .bienvTxt h1 {
    font-size: 30px;
  }
  .bienvTxt p {
    font-size: 15px;
    width: 500px;
  }
}

@media screen and (max-width: 450px){
  :host ::ng-deep .p-scrollpanel{
    width: 100%;
    height: 760px;
  }
  .home{
    padding: 10%;
  }
  .bienvTxt h1 {
    font-size: 18px;
  }
  .bienvTxt p {
    display: none;
    font-size: 10px;
    width: 400px;
  }
}

