.bienvTxt {
  width: 700px;
  margin: auto;
}

.bienvTxt h1{
  font-size: 50px;
  color: aliceblue;
  margin-bottom: 1%;
}

.bienvTxt p{
  width: 700px;
  text-align: justify;
  color: aliceblue;
  font-size: 20px;
}

.home{
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0,0,0,0.75)),url(../../../assets/homePage.jpg);
  width: 100%;
  padding: 8%;
}
