<p-scrollPanel [style]="{ width: '100%', height: '620px'}">
  <div class="surface-card mt-4 mr-6 ml-6 shadow-5 border-round">
    <div class="home">
      <div class="bienvTxt">
        <h1>Bienvenue sur Course'App</h1>
        <p>Prêt à donner un coup de fouet à votre passion pour la course à pied ?
          Notre application est là pour vous aider à atteindre de nouveaux sommets.</p>
      </div>
    </div>
    <div class="description">

      <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="mb-8 font-bold text-3xl">
            <span class="text-blue-600">Course'App </span>
            <span class="text-900"> permet : </span>
        </div>
        <div class="grid">
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-flag text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">S'inscrire à des courses</div>
                <span class="text-700 line-height-3">Vous avez la possibilité de vous inscire aux courses auxquelles vous voulez participer.</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
              <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                  <i class="pi pi-map-marker text-4xl text-blue-500"></i>
              </span>
              <div class="text-900 text-xl mb-3 font-medium">Visualiser l'itinéraire des courses</div>
              <span class="text-700 line-height-3">Pour chaque course, il vous est possible de consulter sur une carte, le départ, l'arrivée ainsi que l'itinéraire.</span>
          </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-flag-fill text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">Voir le résultat des courses</div>
                <span class="text-700 line-height-3">Vous pouvez consulter le résultat des courses qui ont eu lieu grace à Course'App.</span>
            </div>
        </div>
      </div>

    </div>
    <div class="end">
      <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="text-center">
          <div class="mb-4 font-bold text-3xl">
            <span class="text-900">Q'attends-tu ? </span>
            <span class="text-blue-600">Rejoins nous ! </span>
          </div>
            <div class="text-700 text-xl mb-5">Si tu n'as pas encore de compte, inscris-toi gratuitement pour ensuite avoir la possibilité de t'inscrire et participer aux courses a pieds.</div>
            <div *ngIf="this.log then logged else noLog"></div>
            <ng-template #logged>
              <button disabled pButton pRipple label="S'inscrire" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
            </ng-template>
            <ng-template #noLog>
              <button pButton pRipple label="S'inscrire" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap" (click)="inscription()"></button>
            </ng-template>
        </div>
      </div>
    </div>
  </div>
</p-scrollPanel>

