<div class="align-items-center flex justify-content-center lg:px-4 md:px-8 px-4 py-4">
  <div class="surface-card p-4 shadow-4 border-round w-full lg:w-5">
      <div class="text-center mb-3">
          <img src="assets/logo.png" alt="Image" height="100" class="mb-1">
          <div class="text-900 text-3xl font-medium mb-2">Ajouter une course</div>
      </div>
      <div>
          <form [formGroup]="courseForm">
            <label for="titre" class="text-900 font-medium mb-2">Titre</label>
            <input id="titre" type="text" placeholder="Titre" pInputText class="w-full mb-3" formControlName="titre">

            <label for="prix" class="text-900 font-medium mb-2">Prix</label>
            <input id="prix" type="number" placeholder="Prix" pInputText class="w-full mb-3" formControlName="prix">

            <label for="date" class="block text-900 font-medium mb-2">Date</label>
            <input id="date" type="date" placeholder="Date" pInputText class="w-full mb-3" formControlName="date">

            <label for="heure" class="block text-900 font-medium mb-2">Heure</label>
            <input id="heure" type="time" placeholder="Heure" pInputText class="w-full mb-3" formControlName="heure">

            <label for="adresse" class="block text-900 font-medium mb-2">Adresse de départ</label>
            <input id="adresse" type="text" placeholder="Adresse de départ" pInputText class="w-full mb-3" formControlName="adresse">

            <label for="adresse1" class="block text-900 font-medium mb-2">Adresse d'arrivé</label>
            <input id="adresse1" type="text" placeholder="Adresse d'arrivé" pInputText class="w-full mb-3" formControlName="adresse1">

            <label for="utilisateur" class="block text-900 font-medium mb-2">Organisateur</label>
            <input id="utilisateur" type="text" placeholder="Prénom organisateur" pInputText class="w-full mb-3" formControlName="utilisateur">

            <button pButton pRipple type="submit" label="Ajouter Course" class="w-full p-button-primary mt-2" (click)="addCourse()"></button>
          </form>
      </div>
  </div>
</div>
